[buildout]
extends = buildout.cfg

# network speedup
socket-timeout = 3
allow-hosts =
    *.python.org
    docutils.sourceforge.net
    prdownloads.sourceforge.net
    effbot.org

parts +=
    zopepy
    zptlint
    flake8


# =============================================================
# Prepare a python interpreter with all buildout eggs installed
# =============================================================
[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy


# ===============================
# Prepare syntax validation tools
# ===============================
[zptlint]
recipe = zc.recipe.egg
eggs =
    zptlint
scripts =
    zptlint

[flake8]
recipe = zc.recipe.egg
eggs = flake8

entry-points =
    flake8=flake8.run:main
